.idea/*
/.idea/*

教室原8人，进2人，出1人，现在有几人？
操场原5人，加3人，减1人，现在有几人？
书架原6书，加2书，减1书，现在有几书？
盒子原4个糖，加3个糖，吃1个糖，现在有个糖？
小明原7果，给2果，吃1果，现在有果？
花园原6花，种3花，谢1花，现在有花？
盘子原8饼，吃3饼，加1饼，现在有饼？
小丽原5笔，加2笔，丢1笔，现在有笔？
桌子原9杯，拿4杯，放1杯，现在有杯？
10. 篮子原4蛋，加3蛋，破1蛋，现在有蛋？